params {
  help = false

  // Output directory
  outdir = './qc-results'

  // Either input reads as a samplesheet (csv) with headings "sample","R1","R2" or a glob pattern
  samplesheet = false
  reads = false

  // Decide to trim fastp or cutadapt
  trim_adaptors = ''
  adapter_fasta = false

  // Allow QC to complete for valid samples even if one or more samples fail
  error_strategy='ignore' // 'ignore' or 'terminate'

  fastqc_time='24h'
  fastqc_cpus=12
  fastqc_memory='128 GB'
  fastqc_java_tool_options='-Xmx100g'

  slurm_clusterOptions = false
}

profiles {
  local { 
    process.executor = 'local'
  }
  stjude {
    includeConfig 'configs/stjude.config'
  }
  slurm {
    includeConfig 'configs/slurm.config'
  }
  docker {
    docker.enabled = true
    singularity.enabled = false
  }
  singularity {
    singularity.enabled = true
    docker.enabled = false
    singularity.autoMounts = true
  }
}

docker.runOptions = '-u \$(id -u):\$(id -g)'

process {
  publishDir = [path: "${params.outdir}_${params.trim_adaptors}", mode: 'copy']
  errorStrategy = params.error_strategy
  withName: 'FASTP' {
    publishDir = [ path: "${params.outdir}_${params.trim_adaptors}/fastp", mode: 'copy']
  }
  withName: 'FASTQC'  {
    time = params.fastqc_time
    memory = params.fastqc_memory
    cpus = params.fastqc_cpus
    env.JAVA_TOOL_OPTIONS = params.fastqc_java_tool_options
    publishDir = "${params.outdir}_${params.trim_adaptors}/fastqc"
  }
  withName: 'MULTIQC' {
    publishDir = [path: "${params.outdir}_${params.trim_adaptors}/multiqc", mode: 'copy']
  }
}

trace {
    enabled = true
    file = "${params.outdir}_${params.trim_adaptors}/trace.txt"
}

manifest {
    name = 'j23414/illumina-qc'
    description = "A modular workflow for quality control of Illumina sequencing data prior to downstream analysis."
    version = "0.0"
    mainScript = 'main.nf'
}