params {
  help = false

  // Output directory
  outdir = './qc-results'

  // Either input reads as a samplesheet (csv) with headings "sample","R1","R2" or a glob pattern
  samplesheet = false
  reads = false

  // Allow QC to complete for valid samples even if one or more samples fail
  fastqc_error_strategy='ignore' // 'ignore' or 'terminate'
  fastqc_time='24h'
  fastqc_cpus=12
  fastqc_memory='128 GB'
  fastqc_java_tool_options='-Xmx100g'
}

profiles {
  local { }
  stjude {
    includeConfig 'configs/stjude.config'
  }
}

process {
  publishDir = "$params.outdir"
  withName: 'FASTQC'  { errorStrategy=params.fastqc_error_strategy; time = params.fastqc_time; memory = params.fastqc_memory; cpus = params.fastqc_cpus; env.JAVA_TOOL_OPTIONS=params.fastqc_java_tool_options; publishDir = "${params.outdir}/fastqc" }
  withName: 'MULTIQC' { publishDir = [ path: "${params.outdir}/multiqc", mode: 'copy'] }
}

manifest {
    name = 'j23414/illumina-qc'
    description = "A modular workflow for quality control of Illumina sequencing data prior to downstream analysis."
    version = "0.0"
    mainScript = 'main.nf'
}