params {
  help = false

  // Output directory
  outdir = './qc-results'

  // Either input reads as a glob pattern or as a tab delimited file
  reads = false
}

profiles {
  stjude {
    includeConfig 'configs/stjude.config'
  }
}

process {
  publishDir = "$params.outdir"
  withName: 'FASTQC'  { time = '24h'; memory = '128 GB'; cpus = 12; env.JAVA_TOOL_OPTIONS='-Xmx100g'; publishDir = "${params.outdir}/fastqc" }
  withName: 'MULTIQC' { publishDir = [ path: "${params.outdir}/multiqc", mode: 'copy'] }
}

manifest {
    name = 'j23414/illumina-qc'
    description = "Add any QC workflows here before analysizing data"
    version = "0.0"
    mainScript = 'main.nf'
}