/*
 * Date: 2026-10-06
 * Note: The configuration below was copied from https://github.com/nf-core/configs/blob/master/conf/ceres.config
 * Slightly modified to hook in user customization of cpus, memory, and time
 * Auth: Jennifer Chang
 */

params {
    config_profile_description = 'USDA ARS SCINet Ceres Cluster profile'
    config_profile_contact = 'SCINet VRSC (scinet_vrsc@usda.gov)'
    config_profile_url = 'https://scinet.usda.gov/guides/resources/ceres'

    max_memory = params.slurm_memory ? params.slurm_memory : 640.GB
    max_cpus = params.slurm_cpus ? params.slurm_cpus : 36
    max_time = params.slurm_time ? params.slurm_time : 21.d
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    resourceLimits = [
        memory: params.slurm_memory ? params.slurm_memory : 640.GB,
        cpus: params.slurm_cpus ? params.slurm_cpus : 36,
        time: params.slurm_time ? params.slurm_time : 21.d
    ]
    executor = 'slurm'
    scratch = true
    queue = 'ceres'
    clusterOptions = params.slurm_clusterOptions ? params.slurm_clusterOptions + " -A ${System.getenv('SLURM_JOB_ACCOUNT')} " : " -A ${System.getenv('SLURM_JOB_ACCOUNT')} "
}
