/*****************************
 Configuration for any slurm job
 *****************************/

process {
  executor = 'slurm'
  clusterOptions = params.slurm_clusterOptions ? $params.slurm_clusterOptions : ''
  cpus = 2
  memory = '8 GB'
  time = '2h'
  scratch = true
}

executor {
  queueSize = 24
}
